@tailwind base;
@tailwind components;
@tailwind utilities;

.existing-job-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2vh;
}

.existing-job-card{
  border: 2px solid #4F46E5;
  border-radius: 5px;
  padding: 5%;
}

.existing-job-description{
  margin-top: 2vh;
}

.register-candidate-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1vh 4vh;
}

@keyframes slide-in {
 0% {
   transform: translateY(100%);
   opacity: 0;
  }
  100% {
    transform: translateY(0);
     opacity: 1;
   }
 }
 .animate-slide-in {
   animation: slide-in 0.3s ease-out;
 }

 @keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}